<%= link_to 'Back', users_path, class: 'btn btn-primary' %>
<h2>Locations shared by <%= @user.name %></h2>

<% if @locations.present? %>
 <ul>
   <%= render partial: 'locations/location', collection: @locations %>
 </ul>
<% else %>
  <p>No locations yet..</p>
<% end %>
